DATABASE_URL=postgres://localhost/nara_iiif_dev
IMAGE_API_URL=https://nara-images.herokuapp.com
SECRET_KEY_BASE=FIXME
PORT=8080

AWS_ACCESS_KEY_ID=FIXME
AWS_SECRET_ACCESS_KEY=FIXME
S3_BUCKET_NAME=nara-iiif-dev
S3_REGION=us-east-1

WEB_CONCURRENCY=1

RAILS_LOG_TO_STDOUT=true
RAILS_ENV=development
RACK_ENV=development
