//------------------------------------------------------------------------
// Custom horizontal rules
//------------------------------------------------------------------------
@mixin hr-default {
  background-color: $c-default;
  border: 0;
  display: block;
  height: 4px;
}
