// -------------------------------------------------------------------------
// Rich-text styles for post body
//
// Uses opt-in typography technique (see http://css-tricks.com/opt-in-typography/)
//
// scss-lint:disable ImportantRule, NestingDepth, SelectorDepth
// sass-lint:disable no-important, force-element-nesting
// -------------------------------------------------------------------------
.u-richtext {
  @include fs-clearfix;
  line-height: $body-copy-line-height;

  // Only apply rich text styles to direct children to avoid conflicting with shortcode components
  & > {
    // Shortcode wrapper styles
    div {
      margin-bottom: 2em;
      margin-top: 2em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      // Don't scale text size in nested components
      &:not([class*="u-richtext"]) {
        font-size: 1rem;
      }
    }

    // Remove top/bottom margin from first/last children
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    // Links will always be within a child of the richtext class,
    // so select all children other than divs, which are only used for shortcode components.
    *:not(div) {
      // Exclude links with “btn” class to avoid conflicts with button styles
      a:not(.btn) {
        @include link-richtext;
      }
    }

    // Paragraphs
    //---------------------------------
    p {
      margin-bottom: 1em;

      // Hide any empty paragraphs inadvertantly created in the rich text editor
      &:empty {
        display: none !important;
      }
    }

    // Headings
    //---------------------------------
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      // NOTE: Margins may need to be defined separately for each heading, depends on design system.
      margin-bottom: 1rem;
      margin-top: 2em;
      // Optional: Apply “optimizeLegibility” if it makes a difference (not all fonts are affected)
      // text-rendering: optimizeLegibility;

      // “optimizeLegibility” was buggy on old versions of webOS.
      // Since we don’t have an easy way of testing on modern
      // smart TVs and refrigerators that use webOS to see if
      // it’s still an issue, assume it is and disable.
      // https://github.com/scottjehl/Device-Bugs/issues/10
      // .ua-webos & {
      //   text-rendering: auto;
      // }

      &:first-child {
        margin-top: 0;
      }
    }

    // Adjust margins when headings are adjacent (optional)
    // Note: We shouldn’t have to list every possible combination since headings should be in order.
    h2 + h2,
    h3 + h3,
    h4 + h4,
    h5 + h5,
    h6 + h6,
    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5,
    h5 + h6 {
      margin-top: 1em;
    }

    // Update header mixins in `rich-text-headings.scss`
    // Add h1 styles just in case, but normally all h1’s will be bumped down to h2 by markdown config
    h1 { @include h2; }
    h2 { @include h2; }
    h3 { @include h3; }
    h4 { @include h4; }
    h5 { @include h5; }
    h6 { @include h6; }

    // Horz rule
    //---------------------------------
    hr {
      @include hr-default;
      margin: 2em 0;
    }

    // Lists
    //---------------------------------
    ol,
    ul {
      $list-margin: 1em;
      $list-item-margin: 0.5em;
      margin-bottom: $list-margin;
      overflow: hidden;// Prevent custom bullets from overlapping floated elements
      padding-left: fs-rem(30px);

      @include fs-min-width(480px) {
        padding-left: fs-rem(45px);
      }

      ul,
      ol {
        margin-bottom: 0;
      }

      li {
        margin-top: $list-item-margin;

        ol {
          padding-left: fs-rem(27px);
        }

        ul {
          padding-left: fs-rem(20px);
        }

        &:first-child {
          margin-top: 0;
        }

        li:first-child {
          margin-top: $list-item-margin;
        }

        & > p:last-child {
          margin-bottom: 0;
        }
      }// end li
    }// end ol/ul

    // Unordered list bullet styles
    ul,
    ol ul {
      list-style: disc;

      // 2nd level and below
      ul {
        list-style: circle;
      }
    }// end ul

    // Ordered list bullet styles
    ol,
    ul ol {
      list-style: decimal;

      // 2nd level
      ol {
        list-style: lower-alpha;

        // 3rd level and below
        ol {
          list-style: lower-roman;
        }
      }
    }// end ol

    // Blockquotes
    //---------------------------------
    blockquote {
      font-size: 1.25em;
      font-weight: bold;
      margin: 1.5em auto;
      max-width: 500px;

      & > p:not(:last-child) {
        margin-bottom: 1em;
      }
    }// end blockquote

    // Tables
    //---------------------------------
    table {
      @include table-styles;

      td,
      th {
        font-size: 1em;
      }
    }

    // Add top margin to consecutive tables
    @at-root .js-tablewrap + .js-tablewrap {
      margin-top: fs-em(50px);
    }

    // Definition lists
    //---------------------------------
    dl {
    }

  }// end children

  // These inline elements won’t be direct children, so style them normally.
  // Most shortcode components won't use these tags, and if they do we can override them.
  b,
  strong {
    font-weight: bold;
  }

  sup {
    font-size: 0.8em;
    left: -1px;
  }

  code,
  kbd,
  pre,
  samp {
    font-family: $monospace;
  }

  // Set to “inline-block” to allow line-height to adjust
  small {
    display: inline-block;
  }

}// end richtext
