<div class="Embed Embed--<%= position %>">
  <div class="fb-post" data-href="https://www.facebook.com/<%= post_fragment %>" data-width="750"></div>
  <%= javascript_include_tag "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3", async:true, defer:true %>
</div>

