<footer class="Footer" id="footer" role="contentinfo">

  <p style="color: #fff; font-size: 2rem">Footer</p>

  <p style="color: #fff;">© <%= Date.today.year %></p>

  <%-# Address example with microformats %>
  <%#
  <div class="vcard" itemscope itemtype="http://schema.org/Organization">
    <p class="org u-hide" itemprop="name">Threespot</p>
    <a class="adr" href="https://goo.gl/xdWbgj" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span class="street-address" itemprop="streetAddress">806 7th St NW, Suite 201</span><br>
      <span class="locality" itemprop="addressLocality">Washington</span>,
      <span class="region" itemprop="addressRegion">DC</span>
      <span class="postal-code" itemprop="postalCode">20001</span>
    </a>
    <p><a class="tel" href="tel:+12024711000" itemprop="telephone">202.471.1000</a></p>
    <p><span class="email" itemprop="email" data-email="hello[at]threespot.com">hello[at]threespot.com</span></p>
  </div>
  %>

</footer><%# end Footer %>
