<%#
  Note: Only add additional skip links when absolutely necessary.
        For example, a “skip to nav” link isn’t necessary if the nav
        immediately follows the skip links in the tabbing order.
%>
<div class="SkipLinks">
  <ul>
    <li><a href="#main">Skip to main content</a></li>
  </ul>
</div>
