//------------------------------------------------------------------------
// Modal windows (required by modals.js)
//
// Content is shown by default and hidden once JS runs
//------------------------------------------------------------------------
#test {
  &:focus {
    background-color: yellow;
    border: 1px solid currentColor;
    display: inline-block;
  }
}
.Modal {
  // scss-lint:disable ImportantRule
  $selector: &;
  $open-speed: 250ms;
  $close-speed: 500ms;
  $z-index: 900;// FIXME: Define in _z-index.scss and get value with fs-zindex()
  background-color: rgba(#000, 0.5);// overlay color
  bottom: 0;
  font-size: 0;// eliminate space between modal and :after element
  left: 0;
  margin: 0 !important;// reset u-richtext div styles
  max-height: 0;// iOS fix
  opacity: 0;
  overflow: auto;// allows scrollig when content exceeds viewport height
  -webkit-overflow-scrolling: touch;// iOS “momentum” scrolling
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: max-height 0s linear $close-speed,
              visibility 0s linear $close-speed,
              opacity $close-speed;
  visibility: hidden;// hide from screen readers and keyboards until active
  z-index: $z-index;// must be greater than overlay

  // Vertical centering trick from http://vodkabears.github.io/remodal/
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  // Styles will be applied when URL hash matches modal ID attribute
  &:not([aria-hidden]):target,
  &[aria-hidden="false"] {
    max-height: 100vh;// can’t set to “none” because that can't be transitioned
    opacity: 1;
    transition: max-height 0s linear 0s, visibility 0s linear 0s, opacity $open-speed;
    visibility: visible;
  }

  // Modal content wrapper
  &-content {
    @include fs-print-hide;
    background-color: $bg-default;
    display: inline-block;// enables vertical centering
    font-size: 1rem;// override offset wrapper font-size of 0
    margin-left: auto;
    margin-right: auto;
    max-width: fs-rem(560px);
    opacity: 0;
    padding: fs-rem(20px);
    position: relative;
    text-align: left;
    transform: scale(0.95);
    transition: all $close-speed fs-easing('easeOutCubic');
    vertical-align: middle;
    visibility: hidden;
    width: 100%;
    z-index: $z-index + 1;

    // &:focus {
    // }

    .ua-aos & {
      transform: scale(1);
    }

    #{$selector}:not([aria-hidden]):target &,
    #{$selector}[aria-hidden="false"] & {
      opacity: 1;
      transform: scale(1);
      transition: all $open-speed fs-easing('easeOutCubic');
      visibility: visible;
    }
  }// end content

  // Close button
  &-close {
    padding: fs-rem(15px);
    position: fixed;
    right: 0;
    top: 0;
    transition: all 150ms ease-in-out;
    z-index: $z-index + 2;
  }// end close

  &--fullWidth {
    #{$selector}-content {
      min-height: 100%;
    }
  }

}// end Modal
