//------------------------------------------------------------------------
// Web fonts
// - Add preload links in _head.html.erb for all woff2 files
// - Add FontFaceObserver tests for each font file in font-face.js
//
// Note: Only woff and woff2 are required
// https://css-tricks.com/snippets/css/using-font-face/#article-header-id-1
//------------------------------------------------------------------------
// NOTE: If using Typekit, save fonts locally by using links in CSS file,
//       e.g. https://use.typekit.net/PROJECT_ID.css, and copy legal info here.
//       This technically officially supported, but should be fine as long
//       as we’re linking to Typekit’s tracker (see application.html.erb).

/*
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       asset_url('open-sans/open-sans-light.woff2') format('woff2'),
       asset_url('open-sans/open-sans-light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'),
       asset_url('open-sans/open-sans-regular.woff2') format('woff2'),
       asset_url('open-sans/open-sans-regular.woff') format('woff');
}
*/
